.image{
    
   
    height: 40px;
    align-items: center;
   
}

}
.head{
    text-align: center;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 290px;
}
.intro{
   
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 10px;
    margin-left: 10px;
    

}
.social-links{
    bottom: 300px;
}
.content{
    font-size: 10px;
}