.image{
    
    width: 700px;
    height: 250px;
    align-items: center;
    bottom: 28%;
    right: 30%;
}
.heading{
  display: flex;
  font-size: 2.5rem;
}
.head{
    text-align: center;
    padding-left: 20px;
    font-size: 12px;
    margin-top: 290px;
}
.intro{
   
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-left: 10px;
    margin-left: 10px;
    

}
.social-links{
    bottom: 300px;
}